.wordmark {
    display: block;
    height: 15px;
    width: auto;
    max-width: 100%;
}

.light {
    filter: invert(1);
}

@media (min-width: 1280px) {
    .wordmark {
        height: 17px;
    }
}
